
.navbar {
    height: 70px; /* Adjust the height as needed */
  }
  
  .navbar-nav {
    padding-top: 0px; /* Adjust the padding as needed */
  }

  .navbar-nav .nav-link {
    font-size: 30px; /* Adjust the font size as needed */
  }
  
  .navbar-brand {
    font-size: 40px; /* Adjust the font size as needed */
  }

  .navbar .ml-extra {
    margin-right: 20px; /* Adjust the margin as needed */
  }